<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timess.project.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.timess.apicommon.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
    <select id="listTopInvokeInterfaceInfo" resultType="com.timess.apicommon.model.entity.UserInterfaceInfo">
        select interfaceInfoId, sum(totalNum) as totalNum
        from user_interface_info group by interfaceInfoId
        order by totalNum desc
        limit #{limit};
    </select>

    <!-- 1. 创建临时表 -->
    <update id="createTempTable">
        CREATE TEMPORARY TABLE temp_invoke_records (
        user_id BIGINT NOT NULL,
        interface_info_id BIGINT NOT NULL,
        count INT NOT NULL,
        PRIMARY KEY (user_id, interface_info_id)
    )
    </update>

    <!-- 2. 批量插入临时表 -->
    <insert id="batchInsert">
        INSERT INTO temp_invoke_records (user_id, interface_info_id, count)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.interfaceInfoId}, #{item.count})
        </foreach>
    </insert>

    <!-- 3. 批量扣减 -->
    <update id="batchDeductByTempTable">
        UPDATE user_interface_info u
            JOIN temp_invoke_records t
        ON u.userId = t.user_id
            AND u.interfaceInfoId = t.interface_info_id
            SET
                u.leftNum = u.leftNum - t.count,
                u.totalNum = u.totalNum + t.count
        WHERE
            u.leftNum >= t.count
    </update>

    <!-- 4. 查询剩余次数 -->
    <select id="selectLeftNum" resultType="java.lang.Integer">
        SELECT left_num
        FROM user_interface_info
        WHERE
            user_id = #{userId}
          AND interface_info_id = #{interfaceId}
    </select>
</mapper>
